body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: rgb(247, 247, 247);
}
a:link,
a:visited {
  text-decoration: none;
}

/* START NAVBAR */
nav {
  background: #222;
  padding: 0 15px;
  margin-top: 0;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.greenTwo {
  color: rgb(25, 163, 25);
  font-size: 1.7rem;
}
.nav-logo {
  width: 5%;
}
.menu {
  margin: 0;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) .nav-link:hover,
.item .nav-link:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li .nav-link {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem .nav-link {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > .nav-link::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem .nav-link {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button .nav-link {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button .nav-link {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary .nav-link {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button .nav-link:hover {
    text-decoration: none;
  }
  .button:not(.secondary) .nav-link:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
/* END NAVBAR */

/* START HEADER */
.header-section {
  padding: 20rem 0;
  /* padding: 10rem 0 20rem 0; */
  background-image: url(/Images/cases\ copy.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
/* .case-header-section {
  padding: 10rem 0;
  background-image: url(/Images/cases\ copy.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
} */

.header-text {
  color: #242a31;
  background-color: rgba(187, 182, 182, 0.705);
  font-size: 3.5rem;
  text-decoration: underline 1px;
  /* border-bottom: 1px solid black; */
  margin: 0 12rem;
}
.cases-header-text {
  color: #242a31;
  background-color: rgba(187, 182, 182, 0.705);
  font-size: 3.5rem;
  text-decoration: underline 1px;
  margin: 0 18rem;
}
@media screen and (max-width: 1100px) {
  .header-text {
    font-size: 3rem;
    margin: 0 6rem;
  }
  .cases-header-text {
    font-size: 3rem;
    margin: 0 9rem;
  }
}

@media screen and (max-width: 850px) {
  .header-text {
    font-size: 2rem;
    margin: 0 4rem;
  }
  .cases-header-text {
    font-size: 2rem;
    margin: 0 6rem;
  }
}
/* END HEADER */

/* SLIDES START */

#reviews {
  padding: 2rem 0;
  background-color: #161616;
  margin: 4rem 9rem;
  border-radius: 2rem;
  text-align: center;
}
.skill-image {
  width: 40%;
  padding: 5rem;
  border-radius: 20%;
  /* margin: 20px; */
  margin-bottom: 20px;
}

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}
.slides-heading {
  font-size: 2rem;
  text-align: center;
  color: #e2e2e2;
  width: 30%;
  margin: 1rem auto 1.75rem auto;
}

@media screen and (max-width: 700px) {
  #reviews {
    padding: 1.5rem 0;
    margin: 5rem 2rem;
  }
  .skill-image {
    width: 60%;
  }
  .slides-heading {
    color: #e2e2e2;
    background-color: #161616;
    width: 40%;
    margin: 1rem auto 1.75rem auto;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ebebeb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #c0c0c0;
}

/* Caption text */
.text {
  color: #ebebeb;
  font-size: 1.5rem;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* dots/Circles */
.circles {
  text-align: center;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SLIDES END */
/* START BRANDS */
.brands {
  background-color: rgba(187, 182, 182, 0.418);
  background-image: url(/Images/holdingPhone.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 18rem 8rem;
}
.skill-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skill-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
@media screen and (max-width: 850px) {
  .brands {
    margin: 11rem 0;
  }
  .skill-logo {
    width: 15%;
    margin: 20px 12px 50px;
  }
}
/* END BRANDS */
/* START CARDS */
#main-cakes {
  padding: 5rem 0 10rem 0;
}

.cakes-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.cakes-card {
  width: 30%;
  border-radius: 2rem;
  margin-bottom: 50px;
  transition: 0.3s;
}

.cakes-header {
  text-align: center;
  padding: 0 10px;
  /* background: linear-gradient(to right, #065858, rgb(29, 29, 29)); */
  color: #fff;
}

.main-cakes {
  /* height: 12rem; */
  /* height: 50%; */
  margin-top: 5px;
  border-radius: 2rem;
  width: 100%;
  object-fit: cover;
}

.cakes-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 2rem;
  color: #3d3d3d;
}

.cakes-btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #292c2c, rgb(29, 29, 29));
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.cakes-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.brands-btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #292c2c, rgb(29, 29, 29));
  margin: 1.875rem 15rem 1.875rem 15rem;
  text-decoration: none;
  padding: 10px 5px;
}

.brands-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .cakes-card {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .menu-header {
    font-size: 1.5rem;
  }
  .main-cakes {
    width: 100%;
    object-fit: cover;
  }
  .cakes-container {
    width: 100%;
  }
  .cakes-heading {
    padding: 20px;
    font-size: 30px;
  }
  .cakes-body {
    padding: 5px 5px 25px 5px;
    font-size: 0.75rem;
  }
  .cakes-card {
    width: 30%;
  }
  .brands-btn {
    margin: 1.875rem 7rem 1.875rem 7rem;
    padding: 10px 5px;
  }
}
/* END CARDS */
/* START OTHER */
#other-section {
  text-align: center;
  padding: 12rem 0;
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-other-img {
  width: 35%;
  border-radius: 3rem;
  margin: 0 5rem 0 5rem;
}

.other-card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.other-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  /* padding: 3rem 10rem; */
  margin: 1.25rem 1.5rem;
  width: 70%;
  border-radius: 2rem;
}
.other-card-img {
  text-align: center;
  width: 100%;
  object-fit: cover;
}
.other-card-text {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  color: #e9e9e9;
}
@media screen and (max-width: 1200px) {
  .other-card-text {
    font-size: 1.25rem;
  }
  .main-other-img {
    width: 35%;
    margin: 0 3rem 0 1rem;
  }
  .other-card-img {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  #other-section {
    padding: 3rem 0 12rem 0;
    flex-direction: column;
  }
  .other-card {
    flex-direction: column;
  }
  .main-other-img {
    width: 55%;
    margin: 0 2.5rem 0 2.5rem;
  }
  .other-card-section {
    flex-direction: row;
  }
  .other-card {
    display: flex;
    justify-content: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 50%;
  }
  .other-card-img {
    width: 100%;
  }
  .other-card-text {
    font-size: 0.75rem;
    padding: 0 1rem;
    text-align: center;
  }
}
/* END OTHER */
/* START FOOTER */
#footer {
  padding: 0.3rem 0 0.3rem 0;
  text-align: center;
  background-color: #1a1a1a;
}
.footer-logo {
  position: absolute;
  left: 10px;
  right: 0;
  width: 7rem;
}
@media screen and (max-width: 1200px) {
  .footer-logo {
    width: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .footer-logo {
    width: 5.5rem;
  }
}

.footer-text {
  font-size: 0.75rem;
  text-decoration: none;
  color: #525252;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footer-link {
  font-size: 1.05rem;
  margin: 0 1.5rem 0rem 1.5rem;
  text-decoration: none;
  color: #525252;
}

.soria-link {
  text-decoration: none;
  color: #525252;
}
.footer-link:hover,
.soria-link:hover {
  color: #c0c0c0;
}
@media screen and (max-width: 800px) {
  .footer-link {
    font-size: 0.75rem;
    margin: 0 0.75rem 0rem 0.75rem;
  }
}
/* footer end */

/* COMING SOON PAGE */
.main-container {
  padding: 20rem 0;
  /* padding: 10rem 0 20rem 0; */
  background-image: url(/Images/cases\ copy.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.header-container {
  background-color: rgb(221, 221, 221);
  padding: 3rem 2rem;
  margin: 3rem 2rem;
}
.main-header {
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0 15rem;
}
.fade-in-text {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-top {
  position: relative;
  animation: animatetop 1.4s;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    top: 200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .main-header {
    font-size: 4rem;
    margin: 0 9rem;
  }
}

@media screen and (max-width: 850px) {
  .main-header {
    font-size: 3rem;
    margin: 0 3rem;
  }
}
/* End of COMING SOON */
