body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: rgb(247, 247, 247);
}
a:link,
a:visited {
  text-decoration: none;
}

/* START NAVBAR */
nav {
  background: #222;
  padding: 0 15px;
  margin-top: 0;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.greenTwo {
  color: rgb(25, 163, 25);
  font-size: 1.7rem;
}
.nav-logo {
  width: 5%;
}
.menu {
  margin: 0;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) .nav-link:hover,
.item .nav-link:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li .nav-link {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem .nav-link {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > .nav-link::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem .nav-link {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button .nav-link {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button .nav-link {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary .nav-link {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button .nav-link:hover {
    text-decoration: none;
  }
  .button:not(.secondary) .nav-link:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
/* END NAVBAR */
/* START HEADER */
.header-section {
  padding: 10rem 0;
  /* padding: 10rem 0 20rem 0; */
  background-image: url(/Images/cases\ copy.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.case-header-section {
  padding: 10rem 0;
  /* padding: 10rem 0 20rem 0; */
  background-image: url(/Images/cases\ copy.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.header-text {
  color: #242a31;
  background-color: rgba(187, 182, 182, 0.705);
  font-size: 3.5rem;
  text-decoration: underline 1px;
  /* border-bottom: 1px solid black; */
  margin: 0 12rem;
}
.cases-header-text {
  color: #242a31;
  background-color: rgba(187, 182, 182, 0.705);
  font-size: 3.5rem;
  text-decoration: underline 1px;
  margin: 0 18rem;
}
@media screen and (max-width: 1100px) {
  .header-text {
    font-size: 3rem;
    margin: 0 6rem;
  }
  .cases-header-text {
    font-size: 3rem;
    margin: 0 9rem;
  }
}

@media screen and (max-width: 850px) {
  .header-text {
    font-size: 2rem;
    margin: 0 4rem;
  }
  .cases-header-text {
    font-size: 2rem;
    margin: 0 6rem;
  }
}
/* END HEADER */
/* Form Start */
.container {
  padding: 1.75rem 0;
}
.contact-section {
  text-align: center;
  background-color: rgba(33, 179, 94, 0.356);
  border-radius: 2rem;
  margin: 3rem 19rem 0 19rem;
}
.contact-logo {
  width: 30%;
}

.contact-title {
  text-align: center;
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h1 {
  text-align: center;
  font-size: 32px;
  /* line-height: 10px; */
}

.contact-title h2 {
  font-size: 16px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  padding-left: 12px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .contact-section {
    margin: 3rem 11rem 0 11rem;
  }
  .form-control {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .contact-section {
    margin: 0;
  }
  .form-control {
    width: 400px;
  }
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
/* FORM END */

/* START BRANDS */
.brands {
  background-color: rgba(187, 182, 182, 0.418);
  background-image: url(/Images/holdingPhone.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 8rem 8rem;
}
.skill-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skill-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
@media screen and (max-width: 850px) {
  .brands {
    margin: 11rem 0;
  }
  .skill-logo {
    width: 15%;
    margin: 20px 12px 50px;
  }
}
/* END BRANDS */

/* START FOOTER */
#footer {
  padding: 0.3rem 0 0.3rem 0;
  text-align: center;
  background-color: #1a1a1a;
}
.footer-logo {
  position: absolute;
  left: 10px;
  right: 0;
  width: 7rem;
}
@media screen and (max-width: 1200px) {
  .footer-logo {
    width: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .footer-logo {
    width: 5.5rem;
  }
}

.footer-text {
  font-size: 0.75rem;
  text-decoration: none;
  color: #525252;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footer-link {
  font-size: 1.05rem;
  margin: 0 1.5rem 0rem 1.5rem;
  text-decoration: none;
  color: #525252;
}

.soria-link {
  text-decoration: none;
  color: #525252;
}
.footer-link:hover,
.soria-link:hover {
  color: #c0c0c0;
}
@media screen and (max-width: 800px) {
  .footer-link {
    font-size: 0.75rem;
    margin: 0 0.75rem 0rem 0.75rem;
  }
}
/* END FOOTER */
